#wirecard_errormessages {
    font-weight: bold;
    text-align: center;
}
div.wirecard_selectfi {
    text-align: center;
    font-weight: bold;;
}

.formContainer {
    padding: 10px;
}
.formContainer, .reviewContainer, .thankYouContainer {
    background-color: #FDFFB4;
    border: 1px solid #E4E4E4;
    margin-bottom: 18px;
}
.formContainer legend, .reviewContainer h4, .thankYouContainer h4 {
    background-color: #E4E4E4;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px;
}
.formContainer li, .reviewContainer li {
    list-style-type: none;
}
.formContainer .addressRow {
    display: block;
}
.formContainer .formRow {
    float: left;
    margin-bottom: 5px;
}
.formRow label {
    float: left;
    width: 480px;
}
.formRow input {
    margin-top: 3px;
    width: 480px;
}
.formRow .formField {
    float: left;
    width: 250px;
}
.formField label {
    float: left;
    width: 180px;
}
.formField input {
    width: 230px;
}

.wirecard_ccard, .wirecard_maestro, .wirecard_ccard-moto {
    height:50px;
}

#paymentIframe {
    width: 440px;
    height: 500px;
    position: relative;
    bottom: 985px;
    left: 50%;
    margin-left: -220px;
    z-index:100;
}

div.wirecard_inner_container_financialInstitutions {
    height: 57px;
    margin-bottom: 8px !important;
}

#wirecardBasketButton {
    position: relative;
    right: 36px;
    top: -8px;
}

div.wirecard_inner_container_ccard {
    width: 520px;
}

#content .finish .wirecard_pending {
    font-weight: bold;
    margin-bottom: 4px;
}

#content .finish .wirecard_pending h2 {
    margin-bottom: 4px;
}

